@import "tailwindcss";

:root {
  --color-bg: #121212;
  --color-fg: #fdfdfd;
  --color-accent: #e63946;
  /* rich red */
  --color-muted: #666666;
}

body {
  background: var(--color-bg);
  background-color: var(--color-bg);
  color: var(--color-fg);
  font-family: Arial, Helvetica, sans-serif;
}
